body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: #fbfbfb;
}

.header {
    width: 100%;
    background-color: #011323;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 150px; /* Ajuste o tamanho da logo conforme necessário */
}

.todo-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.todo-header {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-text {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background: #32b4c8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background: #218838;
}

.checkbox-container {
    display: block;
    margin-bottom: 20px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background: #fbfbfb;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
    background: #e0e0e0;
}

.task-name {
    flex: 1;
}

.remove-button {
    background: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.remove-button:hover {
    background: #c82333;
}

.move-button {
    background: #32b4c8;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.move-button:hover {
    background: #29a0b1;
}
